<div class="survey-prompt">
    <strong>@Title</strong>
    <span class="text-muted">Take our <a href="https://go.microsoft.com/fwlink/?linkid=2186157">brief survey</a></span>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
